html,
body {
  margin: 0;
  padding: 0;
}
.fpc-wrapper {
  @import '../library/reset.scss';
  @import '../library/layout.scss';
  font-family: MicrosoftYaHei;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 0px;
  // 基础按钮样式
  @mixin base-btn {
    font-size: 12px;
    color: #ffffff;
    background-image: linear-gradient(-35deg, #ed2051 0%, #ff5766 100%), linear-gradient(#ffffff, #ffffff);
    background-blend-mode: normal, normal;
    border-radius: 13px;
    border: solid 0.5px #e52f40;
    padding: 4px 14px;
    &:active {
      background-image: linear-gradient(-35deg, #f58da5 0%, #f88b94 100%), linear-gradient(#ffffff, #ffffff);
      border: solid 0.5px #f58da5;
    }
  }
  // 基础输入框样式
  @mixin base-input {
    font-size: 14px;
    height: 100%;
    width: 90%;
    box-sizing: border-box;
    box-shadow: none; /*去除阴影*/
    outline: none; /*聚焦input的蓝色边框*/
    resize: none; /*textarea 禁止拖拽*/
    border: none; /*去除边框*/
    appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /*点击高亮的颜色*/
    &::placeholder {
      font-family: MicrosoftYaHei;
      font-size: 14px;
      letter-spacing: 0px;
      color: #bbbbbb;
    }
  }
  // 基础弹框样式
  @mixin base-dialog {
    padding: 10px;
    border-radius: 2px;
    position: absolute;
    width: 342px;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: #ffffff;
  }
  .base-btn {
    @include base-btn;
  }
  // 搜索
  .search-wrap {
    .search-box {
      .input-wrap {
        input {
          @include base-input;
        }
      }
    }
  }
  // 弹窗蒙版
  .fpc-mask {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    .base-dialog {
      @include base-dialog;
      .close {
        text-align: right;
        padding-bottom: 6px;
        img {
          width: 14px;
        }
      }
      .title {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        color: #000;
        padding-bottom: 29.5px;
      }
      .select-wrap {
        position: relative;
        display: inline-block;
        width: 290px;
        margin-bottom: 14.5px;
        select {
          font-size: 14px;
          line-height: 15px;
          width: 100%;
          appearance: none;
          outline: none;
          border: solid 1px #afafaf;
          padding: 15px 9px;
          border-radius: 5px;
          background-color: #ffffff;
          letter-spacing: 0px;
          color: #bbbbbb;
          &::-ms-expand {
            display: none;
          }
        }
        img {
          width: 9px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 10px;
          display: inline-block;
        }
      }
      .base-input-wrap {
        position: relative;
        box-sizing: border-box;
        width: 290px;
        border: solid 1px #afafaf;
        padding: 13px 9px;
        border-radius: 5px;
        margin-bottom: 14.5px;
        .required {
          position: absolute;
          top: 50%;
          left: -15px;
          transform: translateY(-50%);
        }
        input {
          @include base-input;
        }
        .phone-warn {
          position: absolute;
          bottom: -18px;
          color: #ed4d4a;
          font-size: 14px;
        }
        .textarea {
          border: none;
          outline: none;
          box-shadow: none;
          appearance: none;
          resize: none;
          &::placeholder {
            font-family: MicrosoftYaHei;
            font-size: 14px;
            letter-spacing: 0px;
            color: #bbbbbb;
          }
        }
      }
      .the-last {
        margin-bottom: 29.5px;
      }
      .dialog-submit {
        font-size: 18px;
        width: 290px;
        border-radius: 26px;
        margin-bottom: 15px;
        background-image: linear-gradient(-35deg, #e52f40 0%, #ff4758 100%), linear-gradient(#ff1748, #ff1748);
        background-blend-mode: normal, normal;
        &:active {
          background-image: linear-gradient(-35deg, #f58da5 0%, #f88b94 100%), linear-gradient(#ffffff, #ffffff);
          border: solid 0.5px #f58da5;
        }
      }
      .privacy {
        .check-block {
          position: relative;
          width: 16px;
          height: 16.5px;
          border-radius: 2px;
          border: solid 0.5px #ababab;
          margin-right: 5px;
          img {
            width: 11px;
            height: 8.5px;
          }
          .pop {
            position: absolute;
            width: 132px;
            height: 20px;
            top: -24px;
            left: -7px;
          }
        }
        .explain {
          font-size: 12px;
          color: #666666;
          .book {
            color: #f32c00;
            text-decoration: underline;
          }
        }
      }
    }
    .success-dialog {
      .smile {
        margin-bottom: 18.5px;
        img {
          width: 36px;
        }
      }
      .title {
        padding-bottom: 12px;
      }
      .text-wrap {
        text-align: center;
        padding-bottom: 20.5px;
        .success-text {
          font-size: 15px;
          line-height: 17px;
          color: #999999;
        }
      }
    }
    .form-dialog {
      display: none;
    }
    .success-dialog {
      display: none;
    }
  }
}
