html,
body {
  margin: 0;
  padding: 0;
}
.fpc-wrapper {
  @import '../library/reset.scss';
  @import '../library/layout.scss';
  font-family: MicrosoftYaHei;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 0px;
  background-color: #ededed;
  // 基础按钮样式
  @mixin base-btn {
    font-size: 12px;
    color: #ffffff;
    background-image: linear-gradient(-35deg, #ed2051 0%, #ff5766 100%), linear-gradient(#ffffff, #ffffff);
    background-blend-mode: normal, normal;
    border-radius: 13px;
    border: solid 0.5px #e52f40;
    padding: 4px 14px;
    &:active {
      background-image: linear-gradient(-35deg, #f58da5 0%, #f88b94 100%), linear-gradient(#ffffff, #ffffff);
      border: solid 0.5px #f58da5;
    }
  }
  @mixin base-btn2 {
    font-size: 12px;
    color: #fa4253;
    border-radius: 13px;
    border: solid 1px #e52f40;
    background-color: transparent;
    padding: 4px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      margin-left: 5px;
      display: block;
      width: 10px;
      height: 5.5px;
    }
    &:active {
      font-weight: bold;
    }
    a {
      text-decoration: none;
      color: #fa4253;
    }
  }
  // 基础输入框样式
  @mixin base-input {
    font-size: 14px;
    height: 100%;
    width: 90%;
    box-sizing: border-box;
    box-shadow: none; /*去除阴影*/
    outline: none; /*聚焦input的蓝色边框*/
    resize: none; /*textarea 禁止拖拽*/
    border: none; /*去除边框*/
    appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /*点击高亮的颜色*/
    &::placeholder {
      font-family: MicrosoftYaHei;
      font-size: 14px;
      letter-spacing: 0px;
      color: #bbbbbb;
    }
  }
  // 基础弹框样式
  @mixin base-dialog {
    box-sizing: border-box;
    padding: 10px 10px 27.5px;
    border-radius: 2px;
    position: absolute;
    width: 342px;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: #ffffff;
  }
  // 基础背景图样式
  @mixin base-bg {
    background-image: url(../imgs/bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .base-btn {
    @include base-btn;
  }
  .base-btn2 {
    @include base-btn2;
  }
  .base-title-head {
    margin-bottom: 19.5px;
    .title-up {
      margin-bottom: 5px;
      .beafter {
        width: 22px;
        height: 10.5px;
      }
      .beafter-span {
        padding: 0 10.5px;
        font-weight: bold;
        font-size: 18px;
        color: #ffffff;
      }
      .after {
        transform: rotate(180deg);
      }
    }
    .sub {
      text-align: center;
      font-size: 11px;
      letter-spacing: 0px;
      color: #8da0e9;
      opacity: 0.8;
    }
  }
  .base-input-wrap {
    position: relative;
    box-sizing: border-box;
    width: 290px;
    border: solid 1px #afafaf;
    padding: 13px 9px;
    border-radius: 5px;
    margin-bottom: 14.5px;
    .required {
      position: absolute;
      top: 50%;
      left: -15px;
      transform: translateY(-50%);
    }
    input {
      @include base-input;
    }
    .phone-warn {
      position: absolute;
      bottom: -18px;
      color: #ed4d4a;
      font-size: 14px;
    }
    .index-phone-warn {
      display: none;
    }
    .dialog-phone-warn {
      display: none;
    }
    .textarea {
      border: none;
      outline: none;
      box-shadow: none;
      appearance: none;
      resize: none;
      &::placeholder {
        font-family: MicrosoftYaHei;
        font-size: 14px;
        letter-spacing: 0px;
        color: #bbbbbb;
      }
    }
  }
  // 阅读协议
  .privacy {
    .check-block {
      position: relative;
      width: 16px;
      height: 16.5px;
      border-radius: 2px;
      border: solid 0.5px #ababab;
      margin-right: 5px;
      img {
        width: 11px;
        height: 8.5px;
      }
      .pop {
        position: absolute;
        width: 132px;
        height: 20px;
        top: -24px;
        left: -7px;
      }
      .dialog-pop {
        display: none;
      }
      .dialog-yes {
        display: none;
      }
    }
    .explain {
      font-size: 12px;
      color: #666666;
      .book {
        color: #f32c00;
        text-decoration: underline;
      }
    }
  }
  .dialog-submit {
    font-size: 18px;
    width: 290px;
    border-radius: 26px;
    margin-bottom: 15px;
    background-image: linear-gradient(-35deg, #e52f40 0%, #ff4758 100%), linear-gradient(#ff1748, #ff1748);
    background-blend-mode: normal, normal;
    &:active {
      background-image: linear-gradient(-35deg, #f58da5 0%, #f88b94 100%), linear-gradient(#ffffff, #ffffff);
      border: solid 0.5px #f58da5;
    }
  }
  // 搜索
  .search-wrap {
    @include base-bg;
    padding-top: 28px;
    margin-bottom: 35px;
    .first-slogan {
      text-align: center;
      padding-bottom: 27px;
      img {
        width: 284.5px;
      }
    }
    .search-box {
      padding: 0 22.5px;
      padding-bottom: 36px;
      .input-wrap {
        box-sizing: border-box;
        padding: 11px 0px 11px 2.5px;
        background-color: #ffffff;
        border-radius: 5px 0 0 5px;
        width: 185.5px;
        height: 44px;
        input {
          @include base-input;
          width: 100%;
          &::placeholder {
            font-family: MicrosoftYaHei;
            font-size: 14px;
            letter-spacing: 0px;
            color: #bbbbbb;
          }
        }
      }
      .search-btn {
        height: 44px;
        width: 105px;
        font-size: 14px;
        line-height: 1;
        padding: 12px 2.5px;
        border-radius: 0px 5px 5px 0px;
      }
    }
    .quick-wrap {
      @include base-bg;
      // box-shadow: 0px -39px 58px -19px rgb(240, 240, 240) inset;
      position: relative;
      margin: 0 auto;
      width: 349px;
      height: 299px;
      background-color: #6560ae;
      border-radius: 16px;
      background-image: url(../imgs/quick0.png);
      background-size: 349px 299px;
      .exchange-bg {
        position: absolute;
        top: 0px;
        width: 349px;
        height: 299px;
      }
      .quick-title {
        .q-title {
          padding-top: 16px;
          text-align: center;
          width: 33.33%;
          font-size: 12px;
          line-height: 13px;
          color: #ffffff;
        }
        .q-title-active {
          font-size: 13px;
          font-weight: bold;
          color: #fd4649;
        }
      }
      .jq-quick-c {
        display: none;
        .category {
          padding: 23.5px 7px 0;
          .slide {
            flex-shrink: 0;
            border-left: 1px solid #dadada;
            border-right: 1px solid #dadada;
            width: 91px;
            height: 235px;
            overflow-y: auto;
            li {
              box-sizing: border-box;
              width: 91px;
              height: 43.5px;
              background-color: #f4f4f4;
              border-bottom: solid 1px #dadada;
              padding: 16px 0;
              text-align: center;
            }
            .active-li {
              color: #ff4859;
            }
          }
          .slide-content {
            .industry-main {
              // display: none;
              padding: 20px 0 0 10px;
              .core {
                h3 {
                  padding-left: 20px;
                  padding-bottom: 15px;
                  color: #333333;
                  font-weight: bold;
                  i {
                    display: inline-block;
                    width: 3px;
                    height: 3.5px;
                    background-color: #ffa145;
                    border-radius: 50%;
                    margin-right: 5px;
                  }
                }
                .core-content {
                  flex-wrap: wrap;
                  justify-content: space-around;
                  .c-c-item {
                    width: 50%;
                    margin-bottom: 12.5px;
                    color: #999999;
                    .img-wrap {
                      margin-right: 5.5px;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      width: 13px;
                      height: 13px;
                      img {
                        display: block;
                        max-width: 13px;
                        max-height: 13px;
                      }
                    }
                  }
                }
                .core-item {
                  display: none;
                }
                .core-item-active {
                  display: flex;
                }
                .relevance-item {
                  display: none;
                }
                .relevance-item-active {
                  display: flex;
                }
              }
              .core-first {
                margin-bottom: 19px;
              }
              .btn-wrap {
                padding-top: 20px;
                text-align: center;
              }
            }
            .industry-other {
              display: none;
              padding: 20px 0 0 10px;
              h3 {
                text-align: center;
                padding-bottom: 14.5px;
                font-size: 14px;
                color: #333333;
                font-weight: bold;
              }
              .other-form {
                margin-left: 15px;
                .base-input-wrap {
                  width: 206px;
                  padding: 10px 0 10px 5px;
                }
                .the-last {
                  margin-bottom: 22.5px;
                }
                .index-submit {
                  width: 205px;
                  font-size: 12px;
                  border-radius: 26px;
                  margin-bottom: 15px;
                  background-image: linear-gradient(-35deg, #e52f40 0%, #ff4758 100%), linear-gradient(#ff1748, #ff1748);
                  background-blend-mode: normal, normal;
                  &:active {
                    background-image: linear-gradient(-35deg, #f58da5 0%, #f88b94 100%),
                      linear-gradient(#ffffff, #ffffff);
                    border: solid 0.5px #f58da5;
                  }
                }
                .privacy {
                  margin: 0 -20px;
                  white-space: nowrap;
                  .check-block {
                    width: 10px;
                    height: 10px;
                    margin-right: 1px;
                    .pop {
                      left: -10px;
                    }
                    .index-pop {
                      display: none;
                    }
                    .check-yes {
                      width: 10px;
                    }
                    .index-yes {
                      display: none;
                    }
                  }
                }
              }
            }
          }
        }
        .logolike {
          box-sizing: border-box;
          height: 283px;
          padding: 50px 0 20px 20px;
          position: relative;
          .logolike-c {
            border-bottom: 1px dashed #ededed;
            padding-bottom: 16px;
            margin-bottom: 16.5px;

            img {
              width: 84.5px;
              height: 55px;
              border-radius: 5px;
              margin-right: 15.5px;
            }
            .l-c-text {
              h3 {
                color: #333333;
                font-weight: bold;
                padding-bottom: 11.1px;
              }
              p {
                font-size: 11px;
                line-height: 16px;
                letter-spacing: 0px;
                color: #999999;
              }
            }
          }
          .l-c-last {
            border-bottom: none;
            margin-bottom: 17.5px;
          }
          .flex-cc {
            position: absolute;
            bottom: 30px;
            left: 50%;
            transform: translateX(-50%);
          }
        }
        .buylogo {
          box-sizing: border-box;
          height: 283px;
          padding: 60px 15px 20px;
          position: relative;
          text-align: center;
          img {
            padding: 0px 0 17px;
            width: 150px;
          }
          .buy-span {
            text-align: left;
            line-height: 16px;
            position: absolute;
            color: #8f8f8f;
          }
          .span0 {
            font-weight: bold;
            top: 40px;
            left: 70px;
          }
          .span1 {
            font-weight: bold;
            top: 60px;
            right: 20px;
          }
          .span2 {
            font-weight: bold;
            top: 130px;
            left: 10px;
          }
          .span3 {
            top: 80px;
            left: 25px;
          }
          .span4 {
            top: 110px;
            right: 10px;
          }
          .span5 {
            top: 155px;
            right: 5px;
          }
          .flex-cc {
            position: absolute;
            bottom: 30px;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
      .jq-quick-c-active {
        display: block;
      }
    }
    .quick0 {
      background-image: url(../imgs/quick0.png);
    }
    .quick1 {
      background-image: url(../imgs/quick1.png);
    }
    .quick2 {
      background-image: url(../imgs/quick2.png);
    }
  }
  // 爆款推荐
  .recommend-wrap {
    // border: 1px solid red;
    background-color: #fff;
    padding: 35px 0;
    .base-title-head {
      .beafter-span {
        color: #333333;
      }
      .sub {
        color: #999999;
      }
    }
    .recommend-list {
      @include base-bg;
      width: 349px;
      margin: 0 auto;
      background-image: url(../imgs/buybg.png);
      border-radius: 15px;
      .reco-list {
        padding: 15px 0 0;
        border-radius: 15px;
        background-color: rgba(245, 247, 255, 0.93);
        .reco-item {
          margin: 0 10px 10px;
          padding-bottom: 10px;
          border-bottom: 1px dashed #cdd3ec;
          &:last-child {
            border-bottom: none;
            margin-bottom: 0;
            padding-bottom: 20px;
          }
          img {
            width: 35px;
          }
          .reco-content {
            flex-grow: 1;
            padding: 0 10px;
            h3 {
              padding-bottom: 10px;
              font-size: 13px;
              color: #333333;
              font-weight: bold;
              .hot {
                position: relative;
                img {
                  position: absolute;
                  right: -27px;
                  top: -10px;
                  width: 25px;
                }
              }
            }
            p {
              color: #999999;
            }
          }
        }
      }
    }
  }
  // 专家团队
  .professor-wrap {
    @include base-bg;
    background-image: url(../imgs/professorbg.png);
    padding: 35px 0 10px;
    .pro-swiper-wrap {
      .swiper-professor {
        overflow: hidden;
        .professor-unactive {
          display: inline-block;
          margin: 0 2.5px;
          width: 7.5px;
          height: 3px;
          background-color: rgba(255, 255, 255, 0.39);
          border-radius: 1.5px;
        }
        .professor-active {
          display: inline-block;
          margin: 0 2.5px;
          width: 7.5px;
          height: 3px;
          background-color: #f23b4c;
          border-radius: 1.5px;
        }
        .swiper-wrapper {
          .swiper-slide {
            .people {
              width: 183px;
              margin-left: -20px;
              margin-right: 15.5px;
            }
            .people-content {
              h3 {
                margin-bottom: 25.5px;
                .name {
                  font-size: 23px;
                  color: #ffffff;
                  margin-right: 7.5px;
                }
                .pinyin {
                  color: #ffffff;
                  opacity: 0.16;
                }
              }
              h4 {
                font-weight: bold;
                font-size: 13px;
                color: #ffffff;
                margin-bottom: 12px;
              }
              .good-list {
                flex-wrap: wrap;
                margin-bottom: 15.5px;
                .good-item {
                  min-width: 50%;
                  margin-bottom: 10px;
                  img {
                    display: block;
                    width: 12px;
                    margin-right: 7.5px;
                  }
                  span {
                    white-space: nowrap;
                    color: rgba(255, 255, 255, 0.8);
                  }
                }
              }
            }
          }
        }
        .professor-pagination {
          text-align: center;
        }
      }
    }
  }
  // 常见问题
  .problem-wrap {
    @include base-bg;
    background-image: url(../imgs/problembg.jpg);
    padding-top: 35px;
    padding-bottom: 25px;
    .base-title-head {
      .beafter-span {
        color: #333333;
      }
      .sub {
        color: #999999;
      }
    }
    .problem-swiper-wrap {
      margin-bottom: 8.5px;
      .swiper-problem {
        overflow: hidden;
        .problem-unactive {
          display: inline-block;
          margin: 0 2.5px;
          width: 7.5px;
          height: 3px;
          background-color: #cfcfcf;
          border-radius: 1.5px;
        }
        .problem-active {
          display: inline-block;
          margin: 0 2.5px;
          width: 7.5px;
          height: 3px;
          background-color: #f23b4c;
          border-radius: 1.5px;
        }
        .swiper-wrapper {
          .swiper-slide {
            .problem-item {
              .ask-wrap {
                align-items: flex-start;
                justify-content: center;
                img {
                  width: 45px;
                  margin-right: 10px;
                }
                .problem-ask {
                  position: relative;
                  margin-bottom: 19px;
                  &::before {
                    position: absolute;
                    top: 18px;
                    left: -10px;
                    content: '';
                    display: block;
                    width: 0;
                    height: 0;
                    border: 5px solid;
                    border-color: transparent #fff transparent transparent;
                  }
                  width: 268.5px;
                  background-color: #ffffff;
                  border-radius: 10px;
                  padding: 14px;
                  .fpc-wen {
                    margin-bottom: 11px;
                    font-weight: bold;
                    font-size: 13px;
                    color: #4b51dc;
                  }
                  .fpc-wen-t {
                    line-height: 18px;
                    color: #666666;
                  }
                }
              }
              .answer-wrap {
                align-items: flex-start;
                justify-content: center;
                margin-bottom: 10.5px;
                img {
                  width: 45px;
                  margin-left: 10px;
                }
                .problem-answer {
                  position: relative;
                  &::before {
                    position: absolute;
                    top: 18px;
                    right: -10px;
                    content: '';
                    display: block;
                    width: 0;
                    height: 0;
                    border: 5px solid;
                    border-color: transparent transparent transparent #fff;
                  }
                  width: 268.5px;
                  background-color: #ffffff;
                  border-radius: 10px;
                  padding: 14px;
                  .fpc-da {
                    margin-bottom: 11px;
                    font-weight: bold;
                    font-size: 13px;
                    color: #fd4649;
                  }
                  .fpc-da-t {
                    line-height: 18px;
                    color: #666666;
                  }
                }
              }
            }
          }
        }
        .problem-pagination {
          text-align: center;
        }
      }
    }
  }
  // 推荐服务
  .serve-wrap {
    @include base-bg;
    background-image: url(../imgs/recommendbg.png);
    background-size: 100% auto;
    background-position: top;
    padding-top: 34.5px;
    margin-bottom: 40px;
    .serve-tabs {
      .s-tab-item {
        padding: 0 13px;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.7);
        .s-text {
          padding-bottom: 10px;
        }
        .s-img-wrap {
          width: 32px;
          height: 9px;
          img {
            display: none;
            width: 32px;
            height: 9px;
          }
        }
      }
      .s-tab-active {
        color: #ff5767;
        font-weight: bold;
        .s-img-wrap {
          img {
            display: block;
          }
        }
      }
    }
    .serve-content {
      background-color: #ffffff;
      border-radius: 10px;
      padding-top: 20px;
      width: 351px;
      margin: 0 auto;
      .info-change {
        display: none;
        flex-wrap: wrap;
        justify-content: flex-start;
        .serve-item {
          // border: 1px solid red;
          box-sizing: border-box;
          width: 50%;
          position: relative;
          margin-bottom: 11px;
          // border: 1px solid red;
          .s-i-bg {
            display: block;
            margin: 0 auto;
            width: 154px;
          }
          .serve-c-wrap {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            .serve-title {
              font-weight: bold;
              font-size: 14px;
              color: #ffffff;
              padding-top: 7px;
            }
            .serve-text {
              text-align: center;
              color: #999999;
              line-height: 16px;
              padding: 20px 0 12px;
            }
          }
        }
      }
      .logo-change {
        display: none;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding-bottom: 20px;
        .logo-change-wrap {
          overflow: hidden;
          .swiper-logo {
            .logo-unactive {
              display: inline-block;
              margin: 0 2.5px;
              width: 12.5px;
              height: 3px;
              background-color: #cfcfcf;
              border-radius: 1.5px;
            }
            .logo-active {
              display: inline-block;
              margin: 0 2.5px;
              width: 12.5px;
              height: 3px;
              background-color: #f23b4c;
              border-radius: 1.5px;
            }
            .logo-pagination {
              padding-top: 5px;
              text-align: center;
            }
            .swiper-slide {
              .logo-item-wrap {
                align-items: flex-start;
                justify-content: flex-start;
                flex-wrap: wrap;
                .flex-wrap {
                  width: 33.33%;
                  margin-bottom: 7px;
                  .logo-item {
                    margin: 0 auto;
                    width: 95px;
                    padding: 5px 5px 10px;
                    background-color: #f7f7ff;
                    border-radius: 4px;
                    border: solid 0.5px #e5e5fc;
                    .img-wrap {
                      margin-bottom: 11px;
                      padding-bottom: 7px;
                      border-bottom: 1px solid #e5e5fc;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      width: 100%;
                      height: 34.5px;
                      img {
                        display: block;
                        max-width: 100%;
                        max-height: 34.5px;
                      }
                    }
                    p {
                      margin-bottom: 8px;
                      text-align: center;
                      color: #666666;
                    }
                    .base-btn2 {
                      padding: 2px 12px;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .serve-c-active {
        display: flex;
      }
    }
  }
  // 我们的客户
  .customer-wrap {
    padding: 35px 0 60px;
    background-color: #fff;
    .base-title-head {
      .beafter-span {
        color: #333333;
      }
      .sub {
        color: #999999;
      }
    }
    .customer-list {
      justify-content: flex-start;
      flex-wrap: wrap;
      margin: 0 auto 23.5px;
      width: 352.5px;
      background-color: #f8f8f8;
      border-radius: 2px;
      border: solid 0.5px #e2e2e2;
      border-right: none;
      border-bottom: none;
      .customer-item {
        border-right: solid 0.5px #e2e2e2;
        border-bottom: solid 0.5px #e2e2e2;
        box-sizing: border-box;
        width: 33.33%;
        padding: 15px 10px;
        .img-wrap {
          box-sizing: border-box;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 53px;
          img {
            display: block;
            max-width: 100%;
            max-height: 53px;
          }
        }
      }
    }
  }
  // 结尾
  .company {
    color: #999999;
    text-align: center;
    p {
      padding-bottom: 10px;
      .slide {
        display: block;
        padding: 0 5px;
      }
      img {
        width: 9px;
        display: block;
        margin-right: 2px;
      }
    }
  }
  // 弹窗蒙版
  .fpc-mask {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    .base-dialog {
      @include base-dialog;
      .close {
        text-align: right;
        padding-bottom: 6px;
        img {
          width: 14px;
        }
      }
      .title {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        color: #000;
        padding-bottom: 29.5px;
      }
      .select-wrap {
        position: relative;
        display: inline-block;
        width: 290px;
        margin-bottom: 14.5px;
        .fpc-select {
          position: relative;
          .fpc-i-select {
            padding: 15px 12px;
            justify-content: space-between;
            // height: 48px;
            background-color: #ffffff;
            border-radius: 5px;
            border: solid 1px #afafaf;
            font-size: 14px;
            // color: #bbbbbb;
            color: #000;
            img {
              width: 9px;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: 10px;
              display: inline-block;
            }
          }
          .option-list {
            padding: 5px 0;
            display: none;
            box-shadow: 0px 10px 14px -3px rgba(0, 0, 0, 0.65);
            width: 100%;
            position: absolute;
            // border: 1px solid red;
            color: #666;
            border-radius: 5px;
            height: 150px;
            overflow-y: auto;
            background-color: #fff;
            z-index: 2;
            li {
              font-size: 14px;
              padding: 8px 5px;
            }
            .li-active {
              background-color: #ccc;
            }
          }
        }
        // select {
        //   font-size: 14px;
        //   line-height: 15px;
        //   width: 100%;
        //   appearance: none;
        //   outline: none;
        //   border: solid 1px #afafaf;
        //   padding: 15px 9px;
        //   border-radius: 5px;
        //   background-color: #ffffff;
        //   letter-spacing: 0px;
        //   color: #bbbbbb;
        //   &::-ms-expand {
        //     display: none;
        //   }
        // }
        // img {
        //   width: 9px;
        //   position: absolute;
        //   top: 50%;
        //   transform: translateY(-50%);
        //   right: 10px;
        //   display: inline-block;
        // }
      }
      .logo-name {
        width: 290px;
        padding: 10px 5px 15px;
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 11px;
        letter-spacing: 0px;
        color: #333333;
      }
      .the-last {
        margin-bottom: 29.5px;
      }
      .dialog-submit {
        font-weight: bold;
        height: 52.5px;
        border-radius: 26px;
        font-size: 18px;
      }
    }

    .success-dialog {
      display: none;
      .smile {
        margin-bottom: 18.5px;
        img {
          width: 36px;
        }
      }
      .title {
        padding-bottom: 12px;
      }
      .text-wrap {
        text-align: center;
        padding-bottom: 20.5px;
        .success-text {
          font-size: 15px;
          line-height: 17px;
          color: #999999;
        }
      }
    }
    .form-dialog {
      display: none;
    }
    // .success-dialog {
    //   display: none;
    // }
  }
  .online-serve {
    border-top: solid 1px #ddd;
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 48px;
    bottom: 0;
    left: 0;
    .o-serve-item {
      height: 48px;
      box-sizing: border-box;
      border-right: solid 1px #ddd;
      width: 30%;
      background-color: #f5f5f5;
      color: #5d656b;
      padding-bottom: 5px;
      img {
        padding: 8px 5px;
        width: 13.5px;
      }
    }
    .o-s-last {
      width: 40%;
      background-color: #d40000;
      color: #fff;
    }
  }
  .scroll-top {
    display: none;
    position: fixed;
    z-index: 5;
    right: 5px;
    bottom: 80px;
    img {
      border-radius: 5px;
      width: 40px;
    }
  }
}
